{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkiu3Y17pKboVcGFC6Bez9QozcY9ebxpQ&sensor=false"></script>
    <script src="{{ STATIC_URL }}js/add_plant.js"></script>
    <div class="row">
        <div class="well">
            <form class="form-search" id="search-form">
                <div class="input-append">
                    <input id="address" type="text" class="input-xlarge search-query" placeholder="Busca tu direccion">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>

            <div id="map-canvas"></div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.code.as_hidden }}
            {{ form.lat.as_hidden }}
            {{ form.lng.as_hidden }}
            <div class="offset10 span2">
                <input class="btn-large" type="submit" value="Guardar"/>
            </div>
        </form>
    </div>

{% endblock %}