{% load compress %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Olas Navigator">
		{% block meta %}{% endblock %}

    {% compress css %}
	<link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    {% block css %}{% endblock %}
    {% endcompress %}
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=450741525018175";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<!-- header -->
		<div id="header" class="navbar">
			<div class="navbar-inner">
				<!-- company or app name -->
				<a class="brand hidden-phone" href="index.html">Corredor Biologico</a>

				<!-- nav icons -->
				<ul class="nav">

					<li class="visible-phone">
						<a href="#"><i class="icon-large icon-search"></i></a>
					</li>

                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-large icon-globe"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="typography.html">
                                    <i class="icon-large icon-leaf"></i> Mis Plantas 
                                </a>
                            </li>
                        </ul>
					</li>


					<li>
						<a href="#">
							<i class="icon-large icon-envelope"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="icon-large icon-cog"></i>
						</a>
					</li>

				</ul>

				<ul class="nav pull-right">

					<!-- dropdown user account -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-large icon-user"></i>
						</a>

					    {% if user.is_authenticated %}
						<ul class="dropdown-menu dropdown-user-account">
                            <li class="account-img-container">
								<img class="thumb account-img" src="{{ STATIC_URL }}images/100/07.png" />
							</li>
							<li class="account-info">
                                <h3>{{ info.first_name }} {{ info.last_name }}</h3>
                                <p>{{ info.location.name }}</p>
							</li>

							<li class="account-footer">
								<div class="row-fluid">
									<div class="span4 align-right">
										<a class="btn btn-small btn-danger btn-flat" href="{% url 'logout' %}">Logout</a>
									</div>
								</div>
							</li>
						</ul>
                        {% else %}
						<ul class="dropdown-menu dropdown-user-account well">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
                            <form method="POST" action="{% url "login_corredor" %}">
                                {% csrf_token %}
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input type="text" name="inputEmail" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" name="inputPassword" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <input class="btn btn-small" type="submit" value="Iniciar Sesión"/>
                            </form>
							<li class="account-info">
								<div class="row-fluid">
                                   '/new/dir/newname.ext' <div class="button zocial span4 align-right">
                                        <a class="btn-auth btn-facebook" href="{% url 'allaccess-login' 'facebook' %}">
                                            Iniciar sesión con <b>Facebook</b>
                                        </a>
								    </div>
								</div>
							</li>
						</ul>
                        {% endif %}


					</li>
					<!-- ./ dropdown user account -->
				</ul>

				<!-- search form -->
				<form class="navbar-search pull-right hidden-phone" action="">
					<input type="text" class="search-query span4" placeholder="search...">
				</form>
				<!-- ./ search form -->
			</div>
		</div>
		<!-- end header -->

		<div id="left_layout">
			<!-- main content -->
			<div id="main_content" class="container-fluid">

				<!-- page heading -->
				<div class="page-heading">

					<h2 class="page-title muted">
						<i class="icon-dashboard"></i> Inicio
					</h2>

					<div class="page-info hidden-phone">
						<ul class="stats">
							<li>
								<span class="large text-warning">2354</span>
								<span class="mini muted">visitantes</span>
							</li>
							<li>
								<span class="large text-info">4523</span>
								<span class="mini muted">miembros</span>
							</li>
							<li>
								<span class="large text-success">5673</span>
								<span class="mini muted">plantas</span>
							</li>
							<li>
								<span class="large text-error">15</span>
								<span class="mini muted">centros</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./ page heading -->

				<ul class="breadcrumb breadcrumb-main">
					{% block breadcrumbs %}{% endblock %}
				</ul>

				<!-- post wrapper -->
				<div class="row-fluid">
                    <div class="span12">
					{% block content %}{% endblock %}
				    </div>
				</div>
				<!-- ./ post wrapper -->
			</div>
			<!-- end main content -->

			<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">
				<li class="avatar hidden-phone">
					<a href="#">
						<img src="{{ STATIC_URL }}images/100/06.png" />
						<span>Geunevere Calista</span>
					</a>
				</li>
				<li class="active">
					<a href="/">
						<i class="micon-screen"></i>
						<span class="hidden-phone">Inicio</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="micon-info"></i>
						<span class="hidden-phone">Información</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="typography.html">
								<i class="icon-large icon-underline"></i> Qué es un corredor biológico?
							</a>
						</li>
                        <li>
							<a href="tables.html">
								<i class="icon-large icon-table"></i> Centros de Difusión
							</a>
						</li>

						<li>
							<a href="tables.html">
								<i class="icon-large icon-table"></i> Mariposas
							</a>
						</li>
						<li>
							<a href="buttons.html">
								<i class="icon-large icon-th"></i> Aves
							</a>
						</li>
                        <li>
                            <a href="charts.html">
                                <i class="micon-stats-up"></i>Gráficos
                            </a>
                        </li>
					</ul>
				</li>
				<li>
					<a href="/weblog">
						<i class="micon-blogger"></i>
						<span class="hidden-phone">Blog</span>
					</a>
				</li>
                <li>
					<a href="/tests">
						<i class="micon-checkbox"></i>
						<span class="hidden-phone">Tests</span>
					</a>
				</li>
			</ul>
			<!-- end sidebar -->
		</div>
		{% compress js %}
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<!-- external api -->
		<script src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>

		<!-- base -->
		<script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
		<script src="{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>

		<!-- addons -->
		<script src="{{ STATIC_URL }}plugins/chart-plugins.js"></script>
		<script src="{{ STATIC_URL }}plugins/jquery-ui-slider.js"></script>
		<script src="{{ STATIC_URL }}plugins/redactor/redactor.min.js"></script>
		<script src="{{ STATIC_URL }}plugins/jmapping/markermanager.js"></script>
		<script src="{{ STATIC_URL }}plugins/jmapping/StyledMarker.js"></script>
		<script src="{{ STATIC_URL }}plugins/jmapping/jquery.metadata.js"></script>
		<script src="{{ STATIC_URL }}plugins/jmapping/jquery.jmapping.min.js"></script>
		<script src="{{ STATIC_URL }}plugins/jquery.uniform.js"></script>
		<script src="{{ STATIC_URL }}plugins/chosen.jquery.min.js"></script>
		<script src="{{ STATIC_URL }}plugins/bootstrap-datepicker.js"></script>
		<script src="{{ STATIC_URL }}plugins/jquery.timePicker.min.js"></script>

		<!-- plugins loader -->
		<script src="{{ STATIC_URL }}js/loader.js"></script>
    {% endcompress %}
	</body>
</html>
