{% extends "_layouts/base.html" %}
{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkiu3Y17pKboVcGFC6Bez9QozcY9ebxpQ&sensor=false"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
        <div id="map-canvas"></div>
        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a href="{% url 'add_plant_code' %}" class="btn btn-primary btn-large">Agrega tu planta!</a></p>
            </div>
        </div>

    <script type="text/javascript">
        var plants = {{ plants | safe }}
        console.log(plants);
    </script>
{% endblock %}
