{% extends "_layouts/base.html" %}
{% block page_title %}Corredor Biologico - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    
     <div class="span4">
       <div class="well widget">
            <dl class="dl-icon">
                <dt>Sé parte del Corredor!</dt>
                <dd>
                    <span class="icon-wrapper">
                        <i class="micon-tree-view"></i>
                    </span>
                    <p>
                    El proyecto esta basado en la creación de un corredor biológico que conecte una reserva natural
                    que se encuentre al este de la Ciudad de Bs. As. con otra que se encuentre al oeste, permitiendo 
                    así a mariposas y aves, trasladarse de un lado hacia otro.
                    </p>
                    <a class="btn btn-flat btn-warning btn-mini" href="#">Leer más</a>
                </dd>
            </dl>
       </div>
       <div class="well widget">
            <div class="widget-header">
                <h3 class="title">Ingresá tu Código!</h3>
            </div>
            <dl>
                <dd>
                    <p>Acercate a uno de los centros de difusión del proyecto, retirá tu planta, e ingresá el Código
                    que se encuentra en la maceta para poder ser parte del Corredor Biológico y convertir tu patio, 
                    terraza, patio o jardín en un Refugio de Fauna.</p>
                </dd>
            </dl>
            <form class="form-horizontal" action="{% url "add_plant_code" %}" method="post"> 
                {% csrf_token %}
                <input name="code" type="text" class="input-big" placeholder="Código">
                <button type="submit" class="btn btn-danger">Agregar</button>
            </form>
        </div>
        <!-- widget -->
        <div class="well widget" style="height:25px;">
            <!-- widget header -->
            <div class="widget-header">
                <h3 class="title">Progreso del Corredor</h3>
            </div>
            <!-- ./ widget header -->
            
            <!-- widget content -->
            <div class="progress mini progress-warning">
                <div class="bar top_tooltip" style="width: 70%" title="70%"></div>
            </div>
            <!-- ./ widget content -->
        </div>
        <div class="well widget">
            <!-- widget head<er -->
            <div class="widget-header">
                <h3 class="title">Últimos Comentarios</h3>
            </div>
            <div class="media media-feed">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://lorempixel.com/40/40/people/9/">
                </a>
                <div class="media-body">
                    <a href="#"><h4 class="media-heading">Jorge</h4></a>
                    <p class="meta">
                        <span class="tags"><a href="#" class="text-warning">El coronillo esta creciendo!</a></span>
                    </p>
                    <p class="excerpt">No lo riegues mucho, basta con las lluvias</p>
                </div>
            </div>
            <div class="media media-feed">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://lorempixel.com/40/40/people/6/">
                </a>
                <div class="media-body">
                    <a href="#"><h4 class="media-heading">Mercedes</h4></a>
                    <p class="meta">
                        <span class="tags"><a href="#" class="text-warning">Mariposas en Caballito</a></span>
                    </p>
                    <p class="excerpt">Que lindaaa! es una monarca.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="span8">
        <div class="well widget">
            <div class="widget-header">
                <h3 class="title">Mapa del Corredor Biologico</h3>
            </div>
            
            <div class="row-fluid">
                    <div id="map-canvas" style="height:405px" class="map-wrapper bs-map">
                    </div>
            </div>
        </div>
        <!-- widget -->
        <div class="well widget">
            <!-- widget header -->
            <div class="widget-header">
                <h3 class="title">Publicaciones recientes</h3>
                <div class="widget-nav">
                    
                </div>
            </div>
            <!-- ./ widget header -->
            <div class="row-fluid">
            </div>
        </div>
    </div>
        
    <script type="text/javascript">
        var plants = {{ plants | safe }}
        console.log(plants);
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkiu3Y17pKboVcGFC6Bez9QozcY9ebxpQ&sensor=false&libraries=places"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}
